<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>protocol-oriented-mvvm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECF8D8EB1ED817A900E5D6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF8D8FF1ED817AA00E5D6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF8D90A1ED817AA00E5D6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
